@charset "UTF-8";

/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* base */
body {
line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

nav ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: "";
content: none;
}

a {
margin: 0;
padding: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
transition: .6s;
}

img {
max-width :100%;
vertical-align: middle;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #cccccc;
margin: 0;
padding: 0;
}

/* Custom reset */
* {
-webkit-text-size-adjust: 100%;
box-sizing: border-box;
}

button,
input[type="submit"] {
cursor: pointer;
-webkit-appearance: none;
}

ul {
list-style: none;
}

ol {
padding-left: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

/* font */
body,
button,
input,
textarea {
}


/* html & body */
html {
font-size: 62.5%;
overflow-y: scroll;
}

body {
color: #333;
background: #ffffff;
min-width: 320px;
letter-spacing: 0.1rem;
font-weight: 500;
}

/* anchor */
a {
color: #333333;
text-decoration: none;
transition: .5s;
}

a:hover,
a:active {
text-decoration: none;
opacity: .7;
}

a:focus {
outline: none;
}

/* clearfix */
.cf::after {
content: "";
display: table;
clear: both;
}

.txt_bold{
font-weight: 900;
}

.txt_red {
color: #e92222;
}

.txt_red::before {
display: none !important;
}

.txt_link{
display: inline-block;
border-bottom: 1px dashed #007ed4;
color: #007ed4 !important;
}

.txt_blue {
color: #82b3e8;
}

.txt_blue2 {
color: #3ab3ce;
}
.txt_blue3 {
  color: #1ea189;
}
.txt_green {
color: #309f56;
}

.txt_green2 {
color: #5fce62;
}

.txt_green3 {
color: #28634c;
}

.txt_orange{
color: #ed8105;
}
.txt_yellow{
color: #f9e43f;
}
.txt_asap{
font-family: 'Asap', sans-serif;
}

.txt_maru{
font-family: 'Roboto', YakuHanJP_Narrow, 'Zen Maru Gothic', Meiryo, sans-serif;
}

.cen{
text-align: center
}

.cen_auto{
margin: 0 auto}

.s_note{font-size: .8em}

.m2_font{
color: #2fa314;
font-size: 1.8rem !important;}

.m3_font{
color: #2fa314;
font-size: 1.6rem !important;}

.ntbr{
white-space: nowrap;
}

@media screen and (min-width:751px) {
body {
font-size: 1.6rem;
line-height: 1.6;
font-family: YakuHanJP, 'Noto Sans JP', sans-serif;
font-weight: 500;
letter-spacing: .085rem;
}

.pc{
display: block !important;
}

.sp{
display: none !important;
}

a[href*="tel:"] {
pointer-events: none;
cursor: default;
text-decoration: none;
}

.mbpc10{
margin-bottom:1rem !important;
}
.mbpc20{
margin-bottom:2rem !important;
}
.mbpc30{
margin-bottom:3rem !important;
}
.mbpc40{
margin-bottom:4rem !important;
}
.mbpc50{
margin-bottom:5rem !important;
}
.mbpc60{
margin-bottom:6rem !important;
}
.mbpc70{
margin-bottom:7rem !important;
}
.mbpc80{
margin-bottom:8rem !important;
}
.mbpc90{
margin-bottom:9rem !important;
}
.mbpc100{
margin-bottom:10rem !important;
}
.mbpc110{
margin-bottom:11rem !important;
}
.mbpc120{
margin-bottom:12rem !important;
}
.mbpc130{
margin-bottom:13rem !important;
}
.mbpc140{
margin-bottom:14rem !important;
}
.mbpc150{
margin-bottom:15rem !important;
}
.mbpc160{
margin-bottom:16rem !important;
}
.mbpc170{
margin-bottom:17rem !important;
}
.mbpc180{
margin-bottom:18rem !important;
}
.mbpc190{
margin-bottom:19rem !important;
}
.mbpc200{
margin-bottom:20rem !important;
}
.mtpc10{
margin-top:1rem !important;
}
.mtpc20{
margin-top:2rem !important;
}
.mtpc30{
margin-top:3rem !important;
}
.mtpc40{
margin-top:4rem !important;
}
.mtpc50{
margin-top:5rem !important;
}
.mtpc60{
margin-top:6rem !important;
}
.mtpc70{
margin-top:7rem !important;
}
.mtpc80{
margin-top:8rem !important;
}
.mtpc90{
margin-top:9rem !important;
}
.mtpc100{
margin-top:10rem !important;
}
.mtpc110{
margin-top:11rem !important;
}
.mtpc120{
margin-top:12rem !important;
}
.mtpc130{
margin-top:13rem !important;
}
.mtpc140{
margin-top:14rem !important;
}
.mtpc150{
margin-top:15rem !important;
}
.mtpc160{
margin-top:16rem !important;
}
.mtpc170{
margin-top:17rem !important;
}
.mtpc180{
margin-top:18rem !important;
}
.mtpc190{
margin-top:19rem !important;
}
.mtpc200{
margin-top:20rem !important;
}

.ptpc30{
padding-top:3rem !important;
}

.ptpc50{
padding-top:5rem !important;
}

.alink{
   display: block !important;
   margin-top:-14rem !important;
   padding-top:14rem !important;
}

}
/*PC*/


@media screen and (max-width:750px) { 
body {
font-size: 1.4rem;
line-height: 1.6;
font-family: YakuHanJP, 'Noto Sans JP', sans-serif;
color: #333;
}
.pc{
display: none !important;
}

.sp{
display: block !important;
}

.mbsp10{
margin-bottom:1rem !important;
}
.mbsp20{
margin-bottom:2rem !important;
}
.mbsp30{
margin-bottom:3rem !important;
}
.mbsp40{
margin-bottom:4rem !important;
}
.mbsp50{
margin-bottom:5rem !important;
}
.mbsp60{
margin-bottom:6rem !important;
}
.mbsp70{
margin-bottom:7rem !important;
}
.mbsp80{
margin-bottom:8rem !important;
}
.mbsp90{
margin-bottom:9rem !important;
}
.mbsp100{
margin-bottom:10rem !important;
}
.mbsp110{
margin-bottom:11rem !important;
}
.mbsp120{
margin-bottom:12rem !important;
}
.mbsp130{
margin-bottom:13rem !important;
}
.mbsp140{
margin-bottom:14rem !important;
}
.mbsp150{
margin-bottom:15rem !important;
}
.mbsp160{
margin-bottom:16rem !important;
}
.mbsp170{
margin-bottom:17rem !important;
}
.mbsp180{
margin-bottom:18rem !important;
}
.mbsp190{
margin-bottom:19rem !important;
}
.mbsp200{
margin-bottom:20rem !important;
}
.mtsp10{
margin-top:1rem !important;
}
.mtsp20{
margin-top:2rem !important;
}
.mtsp30{
margin-top:3rem !important;
}
.mtsp40{
margin-top:4rem !important;
}
.mtsp50{
margin-top:5rem !important;
}
.mtsp60{
margin-top:6rem !important;
}
.mtsp70{
margin-top:7rem !important;
}
.mtsp80{
margin-top:8rem !important;
}
.mtsp90{
margin-top:9rem !important;
}
.mtsp100{
margin-top:10rem !important;
}
.mtsp110{
margin-top:11rem !important;
}
.mtsp120{
margin-top:12rem !important;
}
.mtsp130{
margin-top:13rem !important;
}
.mtsp140{
margin-top:14rem !important;
}
.mtsp150{
margin-top:15rem !important;
}
.mtsp160{
margin-top:16rem !important;
}
.mtsp170{
margin-top:17rem !important;
}
.mtsp180{
margin-top:18rem !important;
}
.mtsp190{
margin-top:19rem !important;
}
.mtsp200{
margin-top:20rem !important;
}

.ptsp50{
padding-top:5rem !important;
}

.alink{
   display: block !important;
   margin-top:-12rem !important;
   padding-top:12rem !important;
}

}
/*sp*/





@media print and (min-width:1px) {
body {
font-size: 1.6rem;
line-height: 1.6;
font-family: YakuHanJP, 'Zen Kaku Gothic New', sans-serif;
font-weight: 500;
letter-spacing: .085rem;
}

.pc{
display: block !important;
}

.sp{
display: none !important;
}

a[href*="tel:"] {
pointer-events: none;
cursor: default;
text-decoration: none;
}

.mbpc10{
margin-bottom:10px !important;
}
.mbpc20{
margin-bottom:20px !important;
}
.mbpc30{
margin-bottom:30px !important;
}
.mbpc40{
margin-bottom:40px !important;
}
.mbpc50{
margin-bottom:50px !important;
}
.mbpc60{
margin-bottom:60px !important;
}
.mbpc70{
margin-bottom:70px !important;
}
.mbpc80{
margin-bottom:80px !important;
}
.mbpc90{
margin-bottom:90px !important;
}
.mbpc100{
margin-bottom:100px !important;
}
.mbpc110{
margin-bottom:110px !important;
}
.mbpc120{
margin-bottom:120px !important;
}
.mbpc130{
margin-bottom:130px !important;
}
.mbpc140{
margin-bottom:140px !important;
}
.mbpc150{
margin-bottom:150px !important;
}
.mbpc160{
margin-bottom:160px !important;
}
.mbpc170{
margin-bottom:170px !important;
}
.mbpc180{
margin-bottom:180px !important;
}
.mbpc190{
margin-bottom:190px !important;
}
.mbpc200{
margin-bottom:200px !important;
}
.mtpc10{
margin-top:10px !important;
}
.mtpc20{
margin-top:20px !important;
}
.mtpc30{
margin-top:30px !important;
}
.mtpc40{
margin-top:40px !important;
}
.mtpc50{
margin-top:50px !important;
}
.mtpc60{
margin-top:60px !important;
}
.mtpc70{
margin-top:70px !important;
}
.mtpc80{
margin-top:80px !important;
}
.mtpc90{
margin-top:90px !important;
}
.mtpc100{
margin-top:100px !important;
}
.mtpc110{
margin-top:110px !important;
}
.mtpc120{
margin-top:120px !important;
}
.mtpc130{
margin-top:130px !important;
}
.mtpc140{
margin-top:140px !important;
}
.mtpc150{
margin-top:150px !important;
}
.mtpc160{
margin-top:160px !important;
}
.mtpc170{
margin-top:170px !important;
}
.mtpc180{
margin-top:180px !important;
}
.mtpc190{
margin-top:190px !important;
}
.mtpc200{
margin-top:200px !important;
}

.ptpc30{
padding-top:30px !important;
}

.ptpc50{
padding-top:50px !important;
}

.alink{
   display: block !important;
   margin-top:-250px !important;
   padding-top:250px !important;
}

}
/*PC*/











